<!-- info section -->

<section class="info_section layout_padding">
    <div class="footer_contact">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="box">
            <a href="" class="img-box">
                <img src="images/location.png" alt="" class="img-1">
                <img src="images/location-o.png" alt="" class="img-2">
            </a>
            <a href="" class="img-box">
                <img src="images/call.png" alt="" class="img-1">
                <img src="images/call-o.png" alt="" class="img-2">
            </a>
            <a href="" class="img-box">
                <img src="images/envelope.png" alt="" class="img-1">
                <img src="images/envelope-o.png" alt="" class="img-2">
            </a>
        </div>
    </div>


</section>


<!-- end info section -->

<!-- footer section -->
<section class="container-fluid footer_section">
    <p>
        Copyright &copy; 2019 All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
    </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

</body>

</html>